{% extends "base.html" %}
{% block title %}Important Screener{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/screener.css') }}">

{% include 'dashboard/dashboard_header.html' %}
{% include 'screener/screener_controls.html' %}

<div class="screener-container">
  {% include 'screener/screener_header.html' %}
  
  {% if selected_date and screener_data %}
    {% include 'screener/screener_oi_section.html' %}
    {% include 'screener/screener_moneyness_section.html' %}
    {% include 'screener/screener_iv_section.html' %}
    {% include 'screener/screener_futures_section.html' %}
  {% else %}
    <div class="no-data">
      <p>Please select a date to view screener data.</p>
    </div>
  {% endif %}
</div>

<script src="{{ url_for('static', filename='js/screener.js') }}"></script>

{% endblock %}
