<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_chart_modal.css') }}">

<div class="table-wrapper">
  <div class="table-container">
    <table id="derivativesTable" class="derivatives-table display nowrap" style="width:100%">
      <thead>
        <tr class="header-row-1">
          <th rowspan="2" class="col-stock">Stock</th>
          <th colspan="2" class="col-group">Call Δ+</th>
          <th colspan="2" class="col-group">Call Δ−</th>
          <th colspan="2" class="col-group">Call Vega+</th>
          <th colspan="2" class="col-group">Call Vega−</th>
          <th rowspan="2" class="col-single">Call ATV</th>
          <th rowspan="2" class="col-single">Call AMoney</th>
          <th rowspan="2" class="col-center">Close</th>
          <th rowspan="2" class="col-center">RSI</th>
          <th colspan="2" class="col-group">Put Δ+</th>
          <th colspan="2" class="col-group">Put Δ−</th>
          <th colspan="2" class="col-group">Put Vega+</th>
          <th colspan="2" class="col-group">Put Vega−</th>
          <th rowspan="2" class="col-single">Put ATV</th>
          <th rowspan="2" class="col-single">Put AMoney</th>
        </tr>
        <tr class="header-row-2">
          <th class="col-sub">Strike</th><th class="col-sub">%</th>
          <th class="col-sub">Strike</th><th class="col-sub">%</th>
          <th class="col-sub">Strike</th><th class="col-sub">%</th>
          <th class="col-sub">Strike</th><th class="col-sub">%</th>
          <th class="col-sub">Strike</th><th class="col-sub">%</th>
          <th class="col-sub">Strike</th><th class="col-sub">%</th>
          <th class="col-sub">Strike</th><th class="col-sub">%</th>
          <th class="col-sub">Strike</th><th class="col-sub">%</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td class="cell-stock">
            <a href="/stock/{{ row.stock }}?date={{ selected_date }}" class="stock-link">{{ row.stock }}</a>
          </td>
          
          <!-- Call Delta+ -->
          <td>{{ row.call_delta_pos_strike }}</td>
          <td>{{ row.call_delta_pos_pct }}</td>
          
          <!-- Call Delta- -->
          <td>{{ row.call_delta_neg_strike }}</td>
          <td>{{ row.call_delta_neg_pct }}</td>
          
          <!-- Call Vega+ (CLICKABLE) -->
          <td>{{ row.call_vega_pos_strike }}</td>
          <td class="money-clickable" 
              {% if row.call_vega_pos_strike != 'N/A' %}
              onclick="openChartModal(this)" 
              data-stock="{{ row.stock }}" 
              data-option-type="call" 
              data-metric="vega" 
              data-strike="{{ row.call_vega_pos_strike }}"
              data-date="{{ selected_date }}"
              {% endif %}>
            {{ row.call_vega_pos_pct }}
          </td>
          
          <!-- Call Vega- (CLICKABLE) -->
          <td>{{ row.call_vega_neg_strike }}</td>
          <td class="money-clickable" 
              {% if row.call_vega_neg_strike != 'N/A' %}
              onclick="openChartModal(this)" 
              data-stock="{{ row.stock }}" 
              data-option-type="call" 
              data-metric="vega" 
              data-strike="{{ row.call_vega_neg_strike }}"
              data-date="{{ selected_date }}"
              {% endif %}>
            {{ row.call_vega_neg_pct }}
          </td>
          
          <!-- Call ΔTV -->
          <td>{{ "%.2f"|format(row.call_total_tradval or 0) }}</td>
          
          <!-- Call ΔMoney (CLICKABLE) -->
          <td class="money-clickable" 
              onclick="openChartModal(this)" 
              data-stock="{{ row.stock }}" 
              data-option-type="call" 
              data-metric="money"
              data-date="{{ selected_date }}">
            {{ "%.2f"|format(row.call_total_money or 0) }}
          </td>
          
          <!-- Close & RSI -->
          <td class="cell-center">{{ "%.2f"|format(row.closing_price or 0) }}</td>
          <td class="cell-center">{{ "%.2f"|format(row.rsi or 0) }}</td>
          
          <!-- Put Delta+ -->
          <td>{{ row.put_delta_pos_strike }}</td>
          <td>{{ row.put_delta_pos_pct }}</td>
          
          <!-- Put Delta- -->
          <td>{{ row.put_delta_neg_strike }}</td>
          <td>{{ row.put_delta_neg_pct }}</td>
          
          <!-- Put Vega+ (CLICKABLE) -->
          <td>{{ row.put_vega_pos_strike }}</td>
          <td class="money-clickable" 
              {% if row.put_vega_pos_strike != 'N/A' %}
              onclick="openChartModal(this)" 
              data-stock="{{ row.stock }}" 
              data-option-type="put" 
              data-metric="vega" 
              data-strike="{{ row.put_vega_pos_strike }}"
              data-date="{{ selected_date }}"
              {% endif %}>
            {{ row.put_vega_pos_pct }}
          </td>
          
          <!-- Put Vega- (CLICKABLE) -->
          <td>{{ row.put_vega_neg_strike }}</td>
          <td class="money-clickable" 
              {% if row.put_vega_neg_strike != 'N/A' %}
              onclick="openChartModal(this)" 
              data-stock="{{ row.stock }}" 
              data-option-type="put" 
              data-metric="vega" 
              data-strike="{{ row.put_vega_neg_strike }}"
              data-date="{{ selected_date }}"
              {% endif %}>
            {{ row.put_vega_neg_pct }}
          </td>
          
          <!-- Put ΔTV -->
          <td>{{ "%.2f"|format(row.put_total_tradval or 0) }}</td>
          
          <!-- Put ΔMoney (CLICKABLE) -->
          <td class="money-clickable" 
              onclick="openChartModal(this)" 
              data-stock="{{ row.stock }}" 
              data-option-type="put" 
              data-metric="money"
              data-date="{{ selected_date }}">
            {{ "%.2f"|format(row.put_total_money or 0) }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Include Chart Modal Component -->
{% include 'dashboard/dashboard_chart_modal.html' %}

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
<script src="https://unpkg.com/lightweight-charts@4.1.1/dist/lightweight-charts.standalone.production.js"></script>
<script src="{{ url_for('static', filename='js/dashboard_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard_chart_modal.js') }}"></script>